
    
  

<div class="container" id="form" style=" background-color: black; border-radius: 11px; ">
<form [formGroup] = "logForm" (ngSubmit)="register()" >

  <div class="row mb-4" style="color: #ffffff;  " >
      <div class="col">
        <div data-mdb-input-init class="form-outline"style="margin-top: 20px;">
          <input type="text" id="form3Example1" class="form-control" formControlName="firstname"/>
          <label class="form-label" for="form3Example1" >First name</label>
          <div *ngIf="logForm.get('firstname')?.hasError('required') && logForm.get('firstname')?.touched">Required</div>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline" style="margin-top: 20px;" >
          <input type="text" id="form3Example2" class="form-control" formControlName="lastname" />
          <label class="form-label" for="form3Example2"  style="color: #ffffff;">Last name</label>
          <div *ngIf="logForm.get('lastname')?.hasError('required') && logForm.get('lastname')?.touched">Required</div>

        </div>
      </div>
    </div>
  
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" formControlName="emailaddress" />
      <label class="form-label" for="form3Example3"  style="color: #ffffff;">Email address</label>
      <div *ngIf="logForm.get('emailaddress')?.errors?.['email'] && logForm.get('emailaddress')?.touched">
       <p  style="color: #ffffff;"> Please enter a valid email address.</p>
      </div>
    </div>
  
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" formControlName="password" />
      <label class="form-label" for="form3Example4"  style="color: #ffffff;">Password</label>
      <div *ngIf="logForm.get('password')?.errors?.['minlength']">
        <p  style="color: #ffffff;"> Password must be at least 8 characters.</p>
      </div>
      <div *ngIf="logForm.get('password')?.errors?.['maxlength']">
        <p  style="color: #ffffff;"> Password cannot exceed 16 characters.</p>
      </div>

    </div>
  
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
      <label class="form-check-label" for="form2Example33"  style="color: #ffffff;">
        Subscribe to our newsletter
      </label>
    </div>
  
    <div style="text-align: center;">
    <button  class="btn btn-primary btn-block mb-4 "          
    [disabled]="!logForm.valid">Sign up</button>
</div>
    <div class="text-center">
      <p>or sign up with:</p>
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="bi bi-facebook"></i>      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="bi bi-google"></i>
      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="bi bi-twitter-x"></i>
      </button>
  
      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="bi bi-github"></i>
      </button>
      <br><br>
    </div>
  </form>
</div>
