
<footer class="text-center text-lg-start" style="background-color: #FAFF00; margin-top: 50px; border-radius: 34px;">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ml-auto">
          <h3>
            Kshopping@gmail.com
          </h3>
          <br><br><br>
          <ul class="list-unstyled d-flex ">
            <li>
              <a href="#!" class="btn-floating btn-fb mx-3">
                <i class="bi bi-facebook" style="color: black;"></i>              
            </a>
            </li>
            <li>
              <a href="#!" class="btn-floating btn-tw mx-3">
                <i class="bi bi-whatsapp" style="color: black;"></i>           
                </a>
            </li>
            <li>
              <a href="#!" class="btn-floating btn-gplus mx-3">
                <i class="bi bi-instagram" style="color: black;"></i>
              </a>
            </li>
            <li>
              <a href="#!" class="btn-floating btn-dribbble mx-3">
                <i class="bi bi-threads" style="color: black;"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact Us</h5>
           
                <p>Tshewang Dorji(Manager): 12345678</p>
          
                <p>Customer Service(toll-free): 113</p>
          
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-dark" >Kshopping.com</a>
    </div>
  </footer>