
    <div class="container">
            <div class="container" style="margin-top: 50px; margin-bottom: 90px;">
                <div class="title" style="text-align: center;">
                    <h1 style="color:#FAFF00; font-size: 90px; font-weight: 900;">K FITNESS STORE</h1>
                    <p style="color: #828282;">The Best Site For Muscle Enthusiasts</p>
                </div>
                <div class="button" style="text-align: center;">
                    <button class="btn" style="background-color: #FAFF00; " (click)="open()">Become A Member</button>
                </div>
       
            </div>
    </div>
            <div class="container" style="margin-bottom: 100px; text-align: center;">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="image-container">
                            <img [src]="pic" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h2 style="color: #ffffff;">Get Great Pricing On Supplements</h2>
                        <p style="color: #ffffff;">We import all our products from genuine manufacturers with a 100% guarantee on originality, quality and price.</p>
                    </div>
                </div>
            </div>
    
            <div class="container" style="margin-bottom: 100px; text-align: center;">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <h2 style="color: #ffffff;">Shipping of Equipment Available </h2>
                        <p style="color: #ffffff;">No need to worry about buying used exercise equipment for a price too high as we provide shipping of first-hand goods of machine goods directly from the manufacturer. </p>
                    </div>
                
                    <div class="col-md-6 col-12">
                        <div class="image-container">
                            <img [src]="pica" class="img-fluid">
                        </div>
                    </div>
                </div>
            <div class="container" style="margin-bottom: 100px; margin-top: 90px;">
                <h2 style="color: #807D3F; text-align: center;">Embark on a transformative journey towards optimal physical, mental, and financial well-being with our comprehensive resources and support, designed to empower you every step of the way.</h2>
            </div>
    
            <div class="container">
                <h2 style="color: #807D3F;">What others had to say</h2>
                <p style="color: #828282;">The Proof Of Our Commitment Towards Great Service</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">“I got everything I ordered in a week. Fast and secure delivery, just awesome!!!”</h5>
                                <h6>-Dorji</h6> 
                                <p style="color: #828282;">A Student at YHSS</p>   
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">“Fantastic quality and great customer service”</h5>
                                <h6>-Rigyel Wangchuk</h6>
                                <p style="color: #828282;">A Retired Athlete</p>            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>“The most pleasant experience I had while online shopping in Bhutan”</h5>
                                <h6>-Lhaki Wangmo</h6>
                                <p style="color: #828282;">A beginner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    
    
    